html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Unauthorized
    link(rel="stylesheet", href="/styles.css")
  body
    .unauthorized-container
      h2 Unauthorized Access
      p You don't have an account. Please try again.
      a(href="/") 
        button(type="button") Back to Login
